{{ $computerName := promptStringOnce . "computerName" "Enter your computer name (e.g., rs-mac)" -}}
{{ $domainName := promptStringOnce . "domainName" "Enter your domain name (e.g., rhsjmm.com)" -}}

[edit]
    command = "code"
    args = ["--wait"]

[git]
    autoCommit = true
    autoPush = true

[data]
    computerName = {{ $computerName | quote }}
    domainName = {{ $domainName | quote }}
