<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>EnvironmentVariables</key>
        <dict>
            <key>HOME</key>
            <string>/Users/rs</string>
            <key>PATH</key>
            <string>/opt/homebrew/bin</string>
        </dict>

        <key>Label</key>
        <string>com.rhsjmm.chezmoi.brewfile</string>

        <key>Program</key>
        <string>/Users/rs/.config/homebrew/chezmoi-brewfile-dump.sh</string>

        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>02</integer>

            <key>Minute</key>
            <integer>0</integer>
        </dict>

        <key>StandardErrorPath</key>
        <string>/Users/rs/.local/share/homebrew/chezmoi-brewfile-stderr.log</string>

        <key>StandardOutPath</key>
        <string>/Users/rs/.local/share/homebrew/chezmoi-brewfile-stdout.log</string>
    </dict>
</plist>